<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contatti.component.css">
    <title>Orari delle Segreterie Studenti</title>
</head>
<body>
    <div class="container">
        <h1>Gli Sportelli delle Segreterie Studenti (sede di Camerino) sono aperti nei seguenti orari:</h1>
        <ul>
            <li><strong>Lunedì:</strong> dalle 10:30 alle 13:00</li>
            <li><strong>Martedì:</strong> dalle 15:00 alle 17:00</li>
            <li><strong>Mercoledì:</strong> dalle 10:30 alle 13:00</li>
            <li><strong>Giovedì:</strong> dalle 15:00 alle 17:00</li>
            <li><strong>Venerdì:</strong> dalle 10:30 alle 13:00</li>
        </ul>
        <p><strong>Sportello Scuola di Scienze e Tecnologie</strong></p>
        <p><strong>Tel:</strong> 0737 637336</p>
        <p><strong>Email:</strong> <a href="mailto:segreteriastudenti.scienze@unicam.it">segreteriastudenti.scienze@unicam.it</a></p>
    </div>
</body>
</html>
