  .dashboard-container {
    display: flex;

    .side-nav {
      width: 250px;
      min-width: 230px;
      min-height: calc(100vh - 70px);
      background-color: #113c60;
      color: #fff;
      box-shadow: 5px 5px 5px #939393;
      @media only screen and (max-width: 1300px) {
        width: 100px;
        min-width: 100px;
      }
    }

    .day-lesson {
      flex: 1;
      height: 88.5vh;
      overflow-y: auto;
      padding: 30px;
    }

    .profile {
      flex: 1;
      height: 88.5vh;
      overflow-y: auto;
    }
  }
