<div class="nav-items">
  <div class="nav-item">
    <a routerLink="/dashboard">Dashboard</a>
  </div>
  <div class="nav-item">
    <a routerLink="/dashboard/scheduler">Calendario</a>
  </div>
  <div class="nav-item">
    <a routerLink="/dashboard/profile">Profilo</a>
  </div>
   <div class="nav-item">
    <a routerLink="/dashboard/corsi">Corsi</a>
  </div>
  <div class="nav-item">
    <a routerLink="/dashboard/esami">Esami</a>
  </div>
  <div class="nav-item">
    <a routerLink="/dashboard/docenti">Docenti</a>
  </div>
  <div class="nav-item">
    <a routerLink="/dashboard/contatti">Contatti</a>
  </div>
  <div class="nav-item">
    <a routerLink="/dashboard/help">Help</a>
  </div>
</div>
